.App {
  text-align: center;
}
.list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.container_list {
  width: 400px;
  height: 100%;
  margin-top: 10px;
  padding: 40px;
  border-radius: 10%;
  border: 4px solid rgb(213, 223, 94);
  background-color: rgb(72, 72, 72);
  color: white;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.user_email {
  font-size: 22px;
  padding: 16px;
  font-family: "Sedgwick Ave", cursive;
}
.user_name {
  font-size: 22px;
  padding: 10px;
}
